// GRID BASE CONFIG
$container: 1233px; // SzerokoĹ›Ä‡ kontenera (wrappera)

// PAGE FONTS
$baseFont: "Raleway-Regular";
$dancing-regular:  "DancingScript-Regular";
$playfair-regular: "PlayfairDisplay-Regular";
$raleway-medium: "Raleway-Medium";
$raleway-regular: "Raleway-Regular";
$raleway-light: "Raleway-Light";


// PAGE COLORS
$baseColor: #000; // Kolor bazowy (zazwyczaj czarny lub podobny wykorzystywany globalnie np. dla fontów)
$secColor: #d07c7c; // pod przyciski,paginatory,bordery headline
$altColor: #000; // Kolor alternatywny (dla jasno szarych bloków, pod zdjęcia,ikony)*/


